<h3 class="group-title">Collaborators</h3>

  <div class="people-grid">
      <!-- Nguyen Quoc Duong -->
      <article class="person-card person-card--compact">
        <img class="person-avatar"
            src="/img/TeamImg/CTV_NguyenQuocDuong@4x.png"
            alt="Nguyen Quoc Duong"
            loading="lazy">

        <div class="person-body">
          <div class="person-top">
            <div class="person-name">Nguyen Quoc Duong</div>

            <div class="person-mini">
              <div class="person-mini-line">VinUniversity</div>
              <div class="person-mini-line">Hanoi, Vietnam</div>
            </div>
          </div>

          <a class="pill"
            href="https://orcid.org/0009-0007-5883-6598"
            target="_blank" rel="noopener">
            ORCiD <span class="arrow" aria-hidden="true">↗</span>
          </a>
        </div>
      </article>
    <article class="person-card person-card--compact">
      <img class="person-avatar"
          src="/img/TeamImg/Van@4x.png"
          alt="Huynh trong van"
          loading="lazy">

      <div class="person-body">
        <div class="person-top">
          <div class="person-name">Huynh Trong Van</div>

          <div class="person-mini">
            <div class="person-mini-line">TVT Medical JSC</div>
            <div class="person-mini-line">Ho Chi Minh City, Vietnam</div>
          </div>
        </div>

        <a class="pill"
          href=""
          target="_blank" rel="noopener">
          ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
      </div>
    </article>

    <article class="person-card person-card--compact">
      <img class="person-avatar"
          src="/img/TeamImg/Kien@4x.png"
          alt="Le Trung Kien"
          loading="lazy">

      <div class="person-body">
        <div class="person-top">
          <div class="person-name">Le Trung Kien</div>

          <div class="person-mini">
            <div class="person-mini-line">Ho Chi Minh City Power Corporation</div>
            <div class="person-mini-line">Ho Chi Minh City, Vietnam</div>
          </div>
        </div>

        <a class="pill"
          href="https://orcid.org/0009-0004-8454-0000"
          target="_blank" rel="noopener">
          ORCiD <span class="arrow" aria-hidden="true">↗</span>
        </a>
      </div>
    </article>
   
    <div>