<!-- Footer -->
<footer class="site-footer">
  <div class="container footer-grid">

    <!-- Column 3 (đưa lên trước) -->
    <div class="footer-col">
      <h4 class="footer-subtitle">AMaDaS Research Group</h4>
      <ul class="footer-links">
        <li><span class="footer-muted">Tien Giang University</li>
        <li><span class="footer-muted">Phone:</span> (+84) 273 3 872 624</li>
        <li><span class="footer-muted">Email:</span> amadas@tgu.edu.vn</li>
        <li><span class="footer-muted">Address:</span> Than Binh Hamlet, Chau Thanh Commune, Dong Thap Province, Vietnam</li>
      </ul>
    </div>

    <!-- Column 1 -->
    <div class="footer-col">
      <h3 class="footer-subtitle">Contact</h3>
      <p class="footer-text">
        Dr. Bui Quang Thinh<br>
        Head of AMaDaS Research Group<br>
        Email: <a href="mailto:buiquangthinh@tgu.edu.vn">buiquangthinh@tgu.edu.vn</a><br>
        Homepage: <a href="https://sites.google.com/view/quangthinhbui" target="_blank" rel="noopener">
          sites.google.com/view/quangthinhbui
        </a>
      </p>
    </div>


  </div>

  <div class="container footer-bottom">
    <small>© <span id="year"></span> AMaDaS. All rights reserved.</small>
  </div>
</footer>
