<header class="site-header">
    <div class="container nav-wrap">
      <a class="brand" href="#home">
        <img src="img/logo.png" alt="AMaDas Logo" class="logo-amadas" style="width: 21vh; height: 50px;"/>
      </a>

      <nav class="nav">
        <a href="index.html" class="nav-link">AMADAS</a>
        <a href="layout/partials/contact.html" class="nav-link">OUR TEAM</a>
        <!-- <a href="layout/publications/project.html" class="nav-link">PROJECTS</a> -->
        <a href="layout/publications/publication.html" class="nav-link">PUBLICATIONS</a>
        <!-- <a href="layout/news/new.html" class="nav-link">BLOG</a> -->
        <a href="layout/partials/contactus.html" class="nav-link">CONTACT</a>
      </nav>
    </div>
</header>