<section class="hero">
  <div class="hero-media">
    <img src="/img/hero.png" alt="Team photo" />
    <div class="hero-overlay"></div>
  </div>

  <div class="hero-content container">
    <h1 class="hero-heading">Applied Mathematics and Data Science Research Group</h1>

    <p class="hero-text">
       The Applied Mathematics and Data Science (AMaDaS) Research Group is a research unit of <strong>Tien Giang University</strong>, dedicated to research in applied mathematics, data science, and artificial intelligence. The group focuses on developing advanced mathematical models, algorithms, and data-driven methodologies, bridging fundamental research with real-world applications in education, healthcare, economics, agriculture, and digital transformation. AMaDaS aims to produce high-quality international publications, promote knowledge and technology transfer, and foster an open academic environment for training and mentoring researchers, graduate students, and undergraduates.
    </p>
  </div>
</section>
